<ion-view title="Restaurant">
    <ion-content has-header="true" padding="true">
        <div class="list">
            <div class="item item-divider">{{menuDeatil.name}}</div>
            <ul class="list">
                <li class="item"  ng-repeat=" (quanKey,quanValue) in menuDeatil.quantity ">
                    <div class="row">
                        <div class="col col-50">{{quanValue.description}}</div>
                        <div class="col">{{quanValue.price}}</div>
                        <div class="col"><div class="icon ion-plus" ng-click="addToCart(quanKey)"></div></div>
                    </div>
                </li>
            </ul>
        </div>
    </ion-content>
</ion-view>