<ion-view title="Restaurant">
  <ion-content class="padding">
      <!--<ion-list>-->
          <!--<ion-item ng-repeat="restaurant in Restaurants" type="item-text-wrap" href="#/tab/restaurant/{{restaurant.id}}">-->
              <!--{{restaurant.name}}-->
          <!--</ion-item>-->
      <!--</ion-list>-->
      <div class="list">

          <a class="item item-thumbnail-left" href="#/tab/restaurant/{{restaurant.id}}" ng-repeat="restaurant in Restaurants">
              <img src="img/{{restaurant.picName}}.jpg">
              <h2>{{restaurant.name}}</h2>
              <p>{{restaurant.description}}</p>
          </a>

      </div>
  </ion-content>
</ion-view>
